.one{
    color:white;
    background-color: black;
    padding: 10px;
    width: 150px;
    margin-top: 30px;
    margin-right: 20px;
}
.two{
    color:white;
    background-color: black;
    padding: 10px;
    width: 150px;
    margin-top: 30px;
    margin-left: 20px;

}